* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --heading-background-color: darkblue;
    --img-border-color: black;

}

nav {
    background-color: var(--heading-background-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--heading-background-color);
}

main {
    max-width: 600px;
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid var(--img-border-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

main p {
    padding: 0px;
}

aside {
    position: relative;
    width: 15rem;
    text-align: center;
}

aside img {

    width: 200px;
    height: auto;

}

aside h2 {
    position: absolute;
    top: 10px;
    left: 75px;
}

footer {
    margin-top: 10px;
    border-top: 1px solid black;
    text-align: center;

}

/* Class Selectors */
.box {
    margin: 14rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: blanchedalmond;
    color: black;

}