* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --heading-background-color: darkblue;
    --img-border-color: black;

}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    background-color: var(--heading-background-color);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
}

nav a {
    display: block;
    text-decoration: none;
    color: white;
    display: block;
    padding: 0.5rem;
    font-size: 1.2 rem;
    font-weight: 700;

}

h1 {
    color: var(--heading-background-color);
    border-bottom: solid 1px black;
}

.grid {
    display: grid;
    align-items: center;
    justify-content: center;
}

main {
    grid-column: 2/3;
    margin: 1px;

}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid var(--img-border-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

main p {
    padding: 0px;
}

aside {
    position: relative;
    width: 15rem;
    text-align: center;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {

    width: 200px;
    height: auto;

}

aside h2 {
    position: absolute;
    top: 10px;
    left: 75px;
}

footer {
    margin-top: 10px;
    border-top: 1px solid black;
    text-align: center;

}

/* Class Selectors */
.box {
    margin: 14rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: blanchedalmond;
    color: black;

}